<div class="row">
  <h2 id="title">{{#link-to 'application'}}Remote{{/link-to}}</h2>

  <nav>
    {{#link-to 'workdays'}}Workdays{{/link-to}}
    {{#link-to 'developers'}}Developers{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
  </nav>
</div>
<div class="row">
  {{outlet}}
</div>
