<article>
  <h1>New Developer</h1>

  {{input value=name placeholder='Name'}}
  <button {{action 'createDeveloper'}}>Create</button>
</article>

<aside>
  {{#developers-list developers=developers as |developer|}}
    {{developer-item developer=developer}}
  {{/developers-list}}
</aside>
