<article class="medium-8 columns">
  {{#workdays-list workdays=workdays as |workday|}}
    {{#workday-item workday=workday action='addDeveloperToWorkday' as |developers|}}
      {{#developers-list class="medium-block-grid-5" developers=developers as |developer|}}
        {{developer-initials developer=developer}}
      {{/developers-list}}
    {{/workday-item}}
  {{/workdays-list}}
</article>
<aside class="medium-4 columns">
  {{#developers-list developers=developers as |developer|}}
    {{developer-item developer=developer draggable=true}}
  {{/developers-list}}
</aside>
