<article>
  <h1>New Workday</h1>

  {{input value=date placeholder='Date'}}
  <button {{action 'createWorkday'}}>Create</button>
</article>
<aside>
  {{#workdays-list workdays=workdays as |workday|}}
    {{workday-item workday=workday}}
  {{/workdays-list}}
</aside>
